node_modules

.vscode
.DS_Store

dist

.env
.env.development.local
.env.test.local
.env.production.local
.env.local
*.env

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets